*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(71, 71, 181);
}
#wrapper{
    /* border: 1px solid black; */
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(to bottom right, rgb(3, 3, 37), rgb(123, 123, 240));

    
   
}
/* .moon-image{
    position: absolute;
    opacity: 0.25;
    
    
} */
#moon-image{
    position: absolute;
    width: 150px;
    opacity: 0.25;
    top: 8rem;
    left: 15rem;
    animation:  moon-image infinite;
    animation-duration: 20s;
   
    
}
@keyframes moon-image {
    0%{
        transform: rotateZ(90deg);
    }
    
    
}
.container{
    
    width: 100%;
    position: relative;
    


}
.nav-bar{
    /* border: 1px solid black; */
    display: flex;
    justify-content:center;
    padding-top: 2.6rem;
    

}
.left-nav{
    /* border: 1px solid black; */
    display: flex;
    top: 3.2rem;
    left: 1.6rem;
    position: fixed;
    
}
.left-nav a{
    display: flex;
    gap: 0.5rem;
   
}
.right-nav{
    /* border: 1px solid black; */
    width: 5rem;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    right: 1.6rem;
    top: 2.7rem;
    
}
.right-nav:hover{
    background-image: linear-gradient(to top, rgb(218, 213, 213),rgb(218, 213, 213));
}
.right-nav p{
    padding: 0.8rem;
    color: black;
  

}
.left-nav h1{

    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
.discord-image{
    width: 3rem;
   
}

.middle-nav{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    
}

.navitems h3{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
}

 a{
    text-decoration: none;
    
}
a{
    color: none;
}
.navitems:hover{
    background-color: skyblue;
    border-radius: 1rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
.top-main{
    display: flex;
    width: 60%;
    
}
.top-left{
 margin-right:2.5rem ;
}
.heading{
    margin: 0.5rem 0.5rem;
    
}
#head{
    font-weight: 800;
    font-size: 2.8rem;
}
.para{
    margin: 1rem 0.5rem;
}
.para p{
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: white;
}
.bg-image{
    width: 25rem;
    border-radius: 10px;
}
.bottom-main{
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
    width: 55%;
    /* border:1px solid black ; */
}
.bottom-left{
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    word-spacing: 0.5rem;
    
    background-color: white;
    opacity: 0.75;
    border-radius: 10px;
}
.bottom-right{
    padding:1rem 1.5rem ;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgb(54, 54, 216);
    word-spacing: 0.3rem;
    
}
.bottom-right a{
    color: white;
    
}
.bottom-left a{
    color: black;
}
.bottom-right:hover{
    background-image: linear-gradient(to top, rgb(70, 70, 236),rgb(150, 150, 240));
}
.bottom-left:hover{
    background-image: linear-gradient(to top,rgb(218, 214, 214),rgb(218, 214, 214));
}

.box-container{
    display: flex;
    margin: 0 auto;
    width: 68%;
    height: 450px;
    /* border: 20px solid rgb(123, 123, 240); */
    margin-top: 5rem;
    border-radius:70px;
    overflow: hidden;
    justify-content: space-between;
    background-image: linear-gradient(to top left, rgb(3, 3, 37), rgb(99, 99, 200));
    margin-bottom: 15rem;
}
.left-box{
    /* border-radius: 50px; */
    overflow: hidden;
    box-shadow: 3px 3px 10px rgb(122, 122, 192);
    /* border-top-right-radius: 70px;
    border-bottom-right-radius: 70px; */
    border-radius:70px ;
    margin: 20px;
    overflow: hidden;
    

}
#box-heading{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2rem;
    
}
#box-para{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 1.3rem;
    word-spacing: 0.1rem;

}
#video-image{
    width: 550px;
    object-fit: cover;
   
    z-index: 10;

}
.right-box{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    align-items: center;
    gap: 1;
    margin: 0 1.2rem;
    overflow: hidden;
}

#right-order-1{
    order: 1;
    margin-left:2.5rem ;
}
#left-order-1{
    order:2;
}
#gradient-box2{
    background-image: linear-gradient(to bottom right ,rgb(3, 3, 37), rgb(99, 99, 200) );
}
#gradient-box3{
    background-image: linear-gradient(to top left ,rgb(3, 3, 37), rgb(99, 99, 200) );
}
#right-order-2{
    order: 2;
    margin-left:2.5rem ;
}
#left-order-2{
    order:1;
}